.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

.vp-doc th,
.vp-doc td {
  padding: 7px 11px;
  border: 1px solid rgba(15, 118, 110, 0.2);
}

.vp-doc table {
  border-radius: 10px;
  overflow: hidden;
}

.vp-doc > div {
  width: 100%;
}
